<div class="flex flex-col gap-2 bg-gray-300 p-4 rounded-lg mb-4">
  <% unless action_name == 'index' %>
    <div class="flex items-center gap-4">
      <p class="italic font-normal"><%= post.created_at.to_formatted_s(:long) %></p>
      <%= link_to 'Edit', edit_page_post_path(@page, post), class: "rounded-lg py-1 px-5 bg-yellow-400" %>
      <%= button_to 'Delete', page_post_path(@page, post), method: :delete, class: "rounded-lg py-1 px-5 bg-red-400" %>
    </div>
  <% end %>
  <h3 class="text-xl font-bold">
    <%= post.title %> 
    <span class="text-sm font-normal italic">
      <%= "by #{post.page.name}" if action_name == 'index' %>
    </span>
  </h3>
  <p><%= post.content %></p>
</div>

